apiVersion: v1
kind: Secret
metadata:
  name: client-secret
  namespace: profertility
type: Opaque
stringData:
  DB_NAME: "Profertility"
  DATABASE_URL: "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=profertility-eks"
  NEXT_PUBLIC_API_BASE_URL: "https://api.example.com"
  NEXT_PUBLIC_ADMIN_URL: "https://admin.example.com"
  ADMIN_DASHBOARD_URL: "https://admin.example.com"
  QUIZ_DISCOUNT_CODE: "QUIZ10"
