aws_region         = "ap-south-1"
cluster_name       = "profertility-eks"
cluster_version    = "1.35"
node_instance_type = "t3a.medium"
node_desired_count = 2
node_max_count     = 3
argocd_hostname    = "argocd.example.com"
