apiVersion: v1
kind: Secret
metadata:
  name: admin-secret
  namespace: profertility
type: Opaque
stringData:
  VITE_API_BASE_URL: "https://api.example.com"
  VITE_FRONTEND_BASE_URL: "https://example.com"
  VITE_ADMIN_DASHBOARD_URL: "https://admin.example.com"
